/* head模块开始 */
.header .search input {
  text-indent: 0;
  font-size: 16px;
}
/* 导航栏模块样式 */
#navBar .flow_step {
  height: 32px;
  margin: 0 auto 10px;
}
#navBar .flow_step .cols_1 {
  width: 100%;
}
#navBar .flow_step .cols_1 li {
  width: 319px;
  background: url('../images/step.png') no-repeat scroll 100% -64px #e6e6e6;
  float: left;
  padding: 0 15px 0 0;
  text-align: center;
  font: 700 14px/32px "宋体";
  line-height: 32px;
}
#navBar .flow_step .cols_1 li.step_1 {
  background-color: #3164AF;
  background-position: 100% -64px;
  color: #FFFFFF;
}
#navBar .flow_step .cols_1 li.step_3 {
  background-image: none;
}
/* main模块 */
#main .cart_title {
  width: 100%;
}
#main .cart_title h2 {
  font-size: 16px;
  font-family: 宋体;
  line-height: 32px;
}
#main .cart_content table {
  border-right: 1px solid #ddd;
  border-top: 3px solid #3164AF;
  text-align: center;
}
#main .cart_content table thead th {
  height: 37px;
  line-height: 37px;
  border: 1px solid #ddd;
  border-width: 0 0 1px 1px;
}
#main .cart_content table thead th.caozuo {
  border-width: 0 1px 1px 1px;
}
#main .cart_content table tbody tr td {
  padding: 5px;
  border: 1px solid #ddd;
  border-width: 0 0 1px 1px;
}
#main .cart_content table tbody tr td .Number {
  width: 45%;
  height: 33px;
  padding: 10px 20px;
}
#main .cart_content table tbody tr td .cart_book ul li {
  height: 91px;
  float: left;
  vertical-align: middle;
}
#main .cart_content table tbody tr td .cart_book ul li a img {
  height: 91px;
  width: 65px;
}
#main .cart_content table tbody tr td .cart_book ul li.cart_book_name {
  margin-left: 10px;
}
#main .cart_content table tbody tr td .cart_book ul li.cart_book_name a {
  display: block;
  height: 100%;
  padding-top: 30px;
}
#main .cart_content table tbody tr td.td_delete {
  border-width: 0 1px 1px 1px;
}
#main .cart_content .count {
  text-align: right;
  padding-right: 70px;
  color: #000;
  font-size: 14px;
}
#main .cart_content .count .pro_money {
  line-height: 30px;
}
#main .cart_content .count .pro_total #total_account {
  color: #fc7215;
  font-size: 20px;
}
#main .cart_content .count a {
  display: inline-block;
  width: 100px;
  height: 30px;
  border-radius: 10px;
  text-align: center;
  line-height: 30px;
  color: #fff;
}
#main .cart_content .count a.go {
  background-color: skyblue;
}
#main .cart_content .count a.settle {
  background-color: #fc7215;
}
